.boton {
    border: none;
    transition: transform 0.3s ease;
    background: transparent;
    font-size: var(--icon-size);
}

.botonTabla{
    font-size: clamp(11px, 2.8vw, 18px);
}

.boton-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boton:hover {
    transform: scale(1.1);
}

.boton-content p {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}